[submodule "ViewMdl"]
	path = ViewMdl
	url = https://ip82:0C3AmfeC!!@git.code.sf.net/p/viewmdl/code
[submodule "ObjMdl"]
	path = ObjMdl
	url = https://ip82:0C3AmfeC!!@git.code.sf.net/p/objmdl/code
[submodule "NotificationServices"]
	path = NotificationServices
	url = https://ip82:0C3AmfeC!!@git.code.sf.net/p/notificationservices/code
