*.obj
*.tlog
*.pch
*.res
*.tlb
*.idb
*.pdb

/DbgEngine/DbgEngine_i.c
/DbgEngine/DbgEngine_i.h
/DbgEngine/Debug/DbgEngine.lastbuildstate
/DbgEngine/Debug/DbgEngine.log
/DbgEngine/dbgengine_contract_i.c
/DbgEngine/dbgengine_contract_i.h
/DbgEngine/x64/Debug/DbgEngine.lastbuildstate
/DbgEngine/x64/Debug/DbgEngine.log
/Debug

/WinDbgTool.opensdf
/WinDbgTool.sdf
/WinDbgTool.v11.suo
/WinDbgUITest/Debug/WinDbgTool.Build.CppClean.log
/WinDbgUITest/Debug/WinDbgTool.lastbuildstate
/WinDbgUITest/Debug/WinDbgUITest.log
/WinDbgUITest/WinDbgUITest_i.c
/WinDbgUITest/WinDbgUITest_i.h
/ipch/dbgengine-88fb1b04/*.ipch
*.ipch
/x64/Debug

/WinDbgUITest/x64/Debug/WinDbgTool.lastbuildstate
/WinDbgUITest/x64/Debug/WinDbgUITest.log
/pldbgcmds/Debug/pldbgcmds.lastbuildstate
/pldbgcmds/Debug/pldbgcmds.log
/pldbgcmds/dlldata.c
/pldbgcmds/pldbgcmds_contract_i.c
/pldbgcmds/pldbgcmds_contract_i.h
/pldbgcmds/pldbgcmds_contract_p.c
/pldbgcmds/pldbgcmds_i.c
/pldbgcmds/pldbgcmds_i.h
/pldbgcmds/x64/Debug/pldbgcmds.lastbuildstate
/pldbgcmds/x64/Debug/pldbgcmds.log
/pldbgmcmds/Debug/pldbgmcmds.lastbuildstate
/pldbgmcmds/Debug/pldbgmcmds.log
/pldbgmcmds/pldbgmcmds_i.c
/pldbgmcmds/pldbgmcmds_i.h
/pldbgmcmds/x64/Debug/pldbgmcmds.lastbuildstate
/pldbgmcmds/x64/Debug/pldbgmcmds.log
/pldbgmview/Debug/pldbgmview.lastbuildstate
/pldbgmview/Debug/pldbgmview.log
/pldbgmview/pldbgmview_i.c
/pldbgmview/pldbgmview_i.h
/pldbgmview/x64/Debug/pldbgmview.lastbuildstate
/pldbgmview/x64/Debug/pldbgmview.log
/pldbgview/Debug/pldbgview.lastbuildstate
/pldbgview/Debug/pldbgview.log
/pldbgview/pldbgview_contract_i.c
/pldbgview/pldbgview_contract_i.h
/pldbgview/pldbgview_i.c
/pldbgview/pldbgview_i.h
/pldbgview/x64/Debug/pldbgview.lastbuildstate
/pldbgview/x64/Debug/pldbgview.log
/prebuildtool/Debug/prebuildtool.lastbuildstate
/prebuildtool/Debug/prebuildtool.log
/pldbgview/Debug/pldbgview.Build.CppClean.log
/prebuildtool/Debug/prebuildtool.Build.CppClean.log
/DbgEngine/Debug/DbgEngine.Build.CppClean.log
/WinDbgTool.v12.suo
/pldbgcmds/Debug/pldbgcmds.Build.CppClean.log
/pldbgmcmds/Debug/pldbgmcmds.Build.CppClean.log
/pldbgmview/Debug/pldbgmview.Build.CppClean.log
/pldbgview/*.aps

/DbgEngine/Release/DbgEngine.Build.CppClean.log
/DbgEngine/Release/DbgEngine.log
/Release/DebugFiles/ext/x64/ext.dll
/Release/DebugFiles/ext/x86/ext.dll
/WinDbgUITest/Release/RCa12872
/WinDbgUITest/Release/WinDbgTool.Build.CppClean.log
/WinDbgUITest/Release/WinDbgUITest.log
/pldbgcmds/Release/pldbgcmds.Build.CppClean.log
/pldbgcmds/Release/pldbgcmds.log
/pldbgcmds/pldbgcmds_p.c
/pldbgmcmds/Release/pldbgmcmds.Build.CppClean.log
/pldbgmcmds/Release/pldbgmcmds.log
/pldbgmview/Release/pldbgmview.Build.CppClean.log
/pldbgmview/Release/pldbgmview.log
/pldbgview/Release/pldbgview.Build.CppClean.log
/pldbgview/Release/pldbgview.log
/prebuildtool/Release/prebuildtool.Build.CppClean.log
/prebuildtool/Release/prebuildtool.log

/Release
/DbgEngine/DbgEngine_p.c
/pldbgview/pldbgview_contract_p.c
/x64/Release

/DbgEngine/x64/Release/DbgEngine.Build.CppClean.log
/DbgEngine/x64/Release/DbgEngine.log
/WinDbgUITest/WinDbgUITest.h
/WinDbgUITest/x64/Release/RCa16264
/WinDbgUITest/x64/Release/WinDbgTool.Build.CppClean.log
/WinDbgUITest/x64/Release/WinDbgUITest.log
/pldbgcmds/x64/Release/pldbgcmds.Build.CppClean.log
/pldbgcmds/x64/Release/pldbgcmds.log
/pldbgmcmds/x64/Release/pldbgmcmds.Build.CppClean.log
/pldbgmcmds/x64/Release/pldbgmcmds.log
/pldbgmview/dlldata.c
/pldbgmview/pldbgmview.aps
/pldbgmview/pldbgmview_p.c
/pldbgmview/x64/Release/pldbgmview.Build.CppClean.log
/pldbgmview/x64/Release/pldbgmview.log
/pldbgview/x64/Release/pldbgview.Build.CppClean.log
/pldbgview/x64/Release/pldbgview.log

/WinDbgUITest/x64/Release

/DbgEngine/Debug
/DbgEngine/Release

/DbgEngine/x64/Release
/WinDbgUITest/Debug
/WinDbgUITest/Release

*.nativecodeanalysis.all.xml
*.nativecodeanalysis.xml
*.codeanalysisast
*.codeanalysis

*.Build.CppClean.log

/MDbgEngine/Debug/MDbgEngine.log
/MDbgEngine/MDbgEngine_i.c
/MDbgEngine/MDbgEngine_i.h
/Session/Debug/Session.log
/Session/Session_i.c
/Session/Session_i.h
/View/Debug/View.log
/View/View_i.c
/View/View_i.h
/WinDbgUITest/Host_i.c
/WinDbgUITest/Host_i.h
/plview/Debug/plview.log
/plview/plview_i.c
/plview/plview_i.h
/plwindbg/Debug/plwindbg.log
/plwindbg/plwindbg_i.c
/plwindbg/plwindbg_i.h
/Session/objmdl_contract_i.c
/Session/objmdl_contract_i.h
/Session/session_contract_i.c
/Session/session_contract_i.h
/Session/session_contract_i_c.c
/Session/session_contract_i_s.c
/Session/session_contract_p.c
/Session/sessionprovider_contract_i.c
/Session/sessionprovider_contract_i.h
/Session/sessionprovider_contract_i_c.c
/Session/sessionprovider_contract_i_s.c
/Session/sessionprovider_contract_p.c

/Session/dlldata.c
/clrsp/clrsp_i.c
/clrsp/clrsp_i.h
/clrspview/clrspview_i.c
/clrspview/clrspview_i.h
/windbgsp/windbgsp_i.c
/windbgsp/windbgsp_i.h

/windbgspview/Debug/windbgspview.log
/windbgspview/dlldata.c
/windbgspview/objmdl_contract_i.c
/windbgspview/objmdl_contract_i.h
/windbgspview/objmdl_contract_p.c
/windbgspview/viewmdl_contract_i.c
/windbgspview/viewmdl_contract_i.h
/windbgspview/viewmdl_contract_p.c
/windbgspview/windbgspview_i.c
/windbgspview/windbgspview_i.h
/windbgspview/windbgspview_p.c

/windbgsp/objmdl_contract_i.c
/windbgsp/objmdl_contract_i.h
/windbgsp/objmdl_contract_p.c
/windbgsp/session_contract_i.c
/windbgsp/session_contract_i.h
/windbgsp/session_contract_p.c
/windbgsp/windbgsp_contract_i.c
/windbgsp/windbgsp_contract_i.h
/windbgsp/windbgsp_contract_p.c
/windbgspview/session_contract_i.c
/windbgspview/session_contract_i.h
/windbgspview/session_contract_p.c
/windbgspview/view_contract_i.c
/windbgspview/view_contract_i.h
/windbgspview/view_contract_p.c
/windbgspview/windbgsp_contract_i.c
/windbgspview/windbgsp_contract_i.h
/windbgspview/windbgsp_contract_p.c
/View/Debug/plview.log
/View/dlldata.c
/View/objmdl_contract_i.c
/View/objmdl_contract_i.h
/View/objmdl_contract_p.c
/View/session_contract_i.c
/View/session_contract_i.h
/View/session_contract_p.c
/View/view_contract_i.c
/View/view_contract_i.h
/View/view_contract_p.c
/View/viewmdl_contract_i.c
/View/viewmdl_contract_i.h
/View/viewmdl_contract_p.c
/clrsp/Debug/clrsp.log
/clrsp/clrsp_contract_i.c
/clrsp/clrsp_contract_i.h
/clrsp/clrsp_contract_p.c
/clrsp/clrsp_p.c
/clrsp/dlldata.c
/clrsp/objmdl_contract_i.c
/clrsp/objmdl_contract_i.h
/clrsp/objmdl_contract_p.c
/windbgsp/Debug/windbgsp.log
/windbgsp/clrsp_contract_i.c
/windbgsp/clrsp_contract_i.h
/windbgsp/clrsp_contract_p.c
/windbgsp/dlldata.c

/clrsp/session_contract_i.c
/clrsp/session_contract_i.h
/clrsp/session_contract_p.c
/clrspview/Debug/clrspview.log

/Session/Release/Session.log
/Session/objmdl_contract_p.c
/View/Release/plview.log
/View/plview_i.c
/View/plview_i.h
/View/plview_p.c
/WinDbgUITest/WinDbgUITest_p.c
/WinDbgUITest/dlldata.c
/WinDbgUITest/objmdl_contract_i.c
/WinDbgUITest/objmdl_contract_i.h
/WinDbgUITest/objmdl_contract_p.c
/WinDbgUITest/viewmdl_contract_i.c
/WinDbgUITest/viewmdl_contract_i.h
/WinDbgUITest/viewmdl_contract_p.c
/clrsp/Release/clrsp.log
/clrspview/Release/clrspview.log
/windbgsp/Release/windbgsp.log
/windbgspview/Release/windbgspview.log
/Host/Debug/Host.log
/Host/Host_i.c
/Host/Host_i.h
/Host/objmdl_contract_i.c
/Host/objmdl_contract_i.h
/Host/objmdl_contract_p.c
/Host/viewmdl_contract_i.c
/Host/viewmdl_contract_i.h
/Host/viewmdl_contract_p.c
/UpgradeLog.htm
/minitwi.opensdf
/minitwi.sdf
/minitwi.v12.suo
/twiconn/Debug/twiconn.log
/twiconn/dlldata.c
/twiconn/objmdl_contract_i.c
/twiconn/objmdl_contract_i.h
/twiconn/objmdl_contract_p.c
/twitcurl/libtwitcurl/Debug/twitcurl.lib
/twitcurl/libtwitcurl/Debug/twitcurl.log
/twitter/Debug/twitter.log
/twitter/dlldata.c
/twitter/objmdl_contract_i.c
/twitter/objmdl_contract_i.h
/twitter/objmdl_contract_p.c
/twitter/twitter.aps
/twitter/twitter_p.c
/twitter/viewmdl_contract_i.c
/twitter/viewmdl_contract_i.h
/twitter/viewmdl_contract_p.c
/twiconn/twitter_contract_i.c
/twiconn/twitter_contract_i.h
/DLL Debug - DLL Windows SSPI
/LIB Debug - DLL Windows SSPI/libcurl.lib
/curl/build/Win32/VC12/DLL Debug - DLL Windows SSPI/lib/libcurl.log
/curl/projects/Windows/VC12/lib/DLL Debug - DLL Windows SSPI/libcurl.log
/curl/projects/Windows/VC12/lib/LIB Debug - DLL Windows SSPI/libcurl.log
/twiconn/twiconn.aps
/twiconn/twitconn_contract_i.c
/twiconn/twitconn_contract_i.h
/twiconn/twitconn_contract_i.idl
/twitcurl/libtwitcurl/lib/!libcurl.lib
/twitcurl/libtwitcurl/twitcurl.vcxproj.user
/twitter/twitconn_contract_i.c
/twitter/twitconn_contract_i.h
/twitter/twitconn_contract_p.c
/twitter/NotificationServices_contract_i.c
/twitter/NotificationServices_contract_i.h
/twitter/NotificationServices_contract_p.c
